In [1]:
# A list of my grades.
my_grades = ['B','C','B','D']

# Import pandas
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [3]:
# Change the grades by one letter grade, used for str change
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [6]:
# Using the format() function, used for a specific format such as 1 decimal places or adding a thousands separator
# after the colon, ".0f" means to format the grade with no decimal place, 0 is for no decimal, f is for floating-point decimal

my_grades2 = [92.34,84.56,86.78,98.32]
for grade in my_grades2:
    print("{:.0f}".format(grade))

92
85
87
98

In [8]:
my_grades3=pd.Series([92.34,84.56,86.78,98.32])
my_grades3

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [11]:
my_grades3.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object